<!DOCTYPE html>
<html>
<body>
<%= render partial: 'shared/head', locals: { back: "Back", back_path: user_signed_in? ? user_sections_path(current_user) : splash_path } %>
  <div class="container">
<section class="group_form d-flex flex-column justify-content-center align-items-center">

<%= render partial: 'shared/section' %>
</section>
</div>
</body>
</html>